* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Advent Pro', sans-serif;
    
  }
  body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("./background\ 2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  filter: contrast(120%) brightness(110%);
  }
  header 
  {
    background-color: rgba(39, 13, 32, 0.178);
   height:12vh;  
   width:100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    align-content: center;
    margin-top: 0px;
    position:relative;
    }
  .contact{
      color: rgba(202, 53, 165, 0.89);
      font-size: larger;
    }
  .main {
      width: 80vw;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(51, 20, 54, 0.712);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      padding:20%; 
  }
form{
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px black;  
  text-align: center;
}
form input {
    outline: none;
    padding:5px;
    background-color: transparent;
    width: 70%;
    height:40%;
    padding: 6px 12px;
    color: rgba(243, 91, 174, 0.836);
    letter-spacing: 1px;
    transition: 0.5s ease;
    border-radius: 18px;
    border: 2px solid rgb(135, 170, 235);
}
label {
  color: rgb(241, 190, 220);
  font-size: 1.2rem;
  margin:10px 0px;

}
.box {
 width: 100%;
 display: flex;
flex-direction: column;
align-items: center;
}
button[type="submit"] 
{
  width: 20%;
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  padding:5px 10px;
  background:rgb(107, 45, 143);
  color: rgb(238, 192, 192);
  border-radius:25px;
  transition: 0.5s;
  cursor: pointer;
  font-size: medium;
}

button[type="submit"]:hover 
{
  background-color: rgba(95, 8, 73, 0.493);
}
.title{
  color: rgba(226, 153, 43, 0.705);
  font-size:1.1 rem;
}
h1{  
  text-shadow: 2px 2px 4px black;
}
.btn{
  display:flex;
  position:relative;
  justify-content: center;
  align-items: center;
  width:500px;
  height:150px;

}

.big{
  width: 100%;
    height: 90vh;
   z-index: 1;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    top: 60px;
   
}